.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

body.colorShit {
  animation: backgroundShit infinite 5s;
  animation-direction: alternate;
}

.App-header {
  background-color: rgb(255, 0, 234);
}

.App-title {  
  margin: 0;
  font-size: 1.5em;
  animation: titleShit infinite 1s;
  animation-direction: alternate;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes titleShit {
  from { font-size: 1.5em; color: rgb(255, 0, 0); }
  to { font-size: 5em; color: rgb(0, 255, 157); }
}

@keyframes backgroundShit {
  from {background-color: rgb(255, 0, 234); }
  to {background-color: rgb(0, 204, 255); }
}